.nav-inline {
	ul {
		@include list-inline;
	}
}

.nav-block {
	display: block;

	ul {
		@include list-inline($spacing: 0);
	}
}

.nav-blocks {
	font-size: 0;
	border-top: 1px solid $off-white;
	border-bottom: 1px solid $off-white;

	li {
		font-size: 1rem;
	}

	li > a {
		text-decoration: none;
		@include btn-pill-outline-fill($color: $off-white, $hover: $light-neutral, $radius: 0 );
	}

	li:first-of-type > a {
		border-left-width: 2px;
	}

	li:last-of-type > a {
		border-right-width: 2px;
	}

}

.nav-pills {
	li > a {
		text-decoration: none;
		@include btn-pill-hover;
	}
}

.nav-pills--outline {
	li > a {
		text-decoration: none;
		@include btn-pill-outline;
	}
}