extends layouts/master.jade

block content

	section.site-content.container
		header.page-header
			h1.page-title Sample Content

		main.page-content.col-md-8
			div.page-body
				section.sample-content
					header
						h2.section-heading Headings
					div.content-body
						h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reprehenderit, ullam eveniet laborum officiis iusto repellendus fugit aperiam soluta adipisci.
						h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reprehenderit, ullam eveniet laborum officiis iusto repellendus fugit aperiam soluta adipisci.
						h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reprehenderit, ullam eveniet laborum officiis iusto repellendus fugit aperiam soluta adipisci.
						h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reprehenderit, ullam eveniet laborum officiis iusto repellendus fugit aperiam soluta adipisci.
						h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reprehenderit, ullam eveniet laborum officiis iusto repellendus fugit aperiam soluta adipisci.
						h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reprehenderit, ullam eveniet laborum officiis iusto repellendus fugit aperiam soluta adipisci.

				section.sample-content
					header
						h2.section-heading Body Copy
					div.content-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo modi sint culpa aperiam non ullam eum dolor omnis, facilis dolore vel consequuntur cum necessitatibus, nisi odit impedit, pariatur. Numquam repellendus fugit dolor illo vel, incidunt, officia obcaecati accusamus dolorum eligendi.
						p Molestiae dolor autem repudiandae maiores, architecto dolore sequi distinctio aliquid voluptate incidunt similique ipsam quo fuga pariatur illum delectus voluptas perspiciatis asperiores nisi, iusto nihil aut ea! Aspernatur perspiciatis totam doloremque sapiente aliquid fugiat maxime autem assumenda debitis quos, libero.

						blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, nesciunt!

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus ipsum aperiam, hic impedit et magni harum in sed recusandae itaque ipsam laudantium voluptate odio. Tenetur officia fuga asperiores, voluptatibus, officiis incidunt, ratione veritatis et suscipit at nihil corporis perspiciatis.
						
						figure
							img(src="http://placehold.it/800x600.jpg", alt="Sample Image")
							figcaption Lorem ipsum dolor sit amet, consectetur adipisicing elit.

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam accusantium, numquam vel optio architecto laboriosam molestias quos perferendis aliquid. Natus.
						p Ullam numquam facere sapiente ipsum illo voluptatum. Omnis cum veniam, odio similique debitis consequuntur hic, ut dolore libero laudantium commodi.

		aside.page-sidebar.sidebar.col-md-4
			div.widget.sidebar-widget
				h4.widget-title Contact Information
				dl.contact-list
					dt.contact-type Email
					dd.contact-value: a(href="#") john.doe@example.com
					dt.contact-type Website
					dd.contact-value: a(href="#") www.google.com