extends layouts/master.jade

block content
	main.page-content
		div.container
			div.col-md-8
				header.page-header
					h1.page-title JCD Sass Base
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem illum pariatur quia unde, provident voluptatibus, voluptas beatae aut officia autem quam illo explicabo dolor ipsa sint temporibus molestias ducimus nihil assumenda distinctio quaerat. Laborum est culpa fuga optio blanditiis sit dolor cumque maxime, deserunt. Consequatur temporibus fugiat sint animi quas?
				
				include sections/headings.jade
				include sections/lists.jade