doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description", content="Base configuration of sass files for all JCD projects.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        title JCD SASS Base
        
        link(rel="stylesheet", href="css/style.css")
    body
        header.site-header
            div.container
                div.site-nav.navbar
                    div.navbar-left
                        h2.site-title.navbar-brand JCD Sass Base
                    div.navbar-right
                        button.nav-toggle Menu
                        nav.navbar-nav.navbar-collapse
                            ul.pill-hover-list
                                li: a(href="#") About
                                li: a(href="#") Section
                                li: a(href="#") Section
                                li: a(href="#") Contact