doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description", content="Base configuration of sass files for all JCD projects.")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        title JCD SASS Base
        
        link(rel="stylesheet", href="css/style.css")
    body
        header.site-header
            div.container
                div.col-md-5
                    h2.site-title JCD Sass Base
                nav.site-nav.nav-inline.nav-pills.nav-right.col-md-7
                    ul
                        li: a(href="#") About
                        li: a(href="#") Section
                        li: a(href="#") Section
                        li: a(href="#") Contact