@mixin pill($radius: .25rem, $padding: 1em){
	padding: $padding;
	border-radius: $radius;	
	display: inline-block;
	width: initial;
}

@mixin btn-pill($background: $light-grey, $radius: .25rem){
	@include pill($radius);
	background: $background;
}

@mixin btn-pill-hover($bg:transparent, $hover:$light-grey, $radius: .25rem){
	@include btn-pill($bg, $radius);
	@include transition;

	&:hover {
		color: white;
		background: $hover;
	}
}

.pill-hover-list {
	@include list-unstyled;
	
	li a {
		@include btn-pill-hover;
	}
}

@mixin btn-pill-outline($color: $off-white, $hover: $dark-grey, $radius: .25rem){
	@include pill($radius);
	@include transition;
	border: 1px solid $color;
	transition: all .3s;

	&:hover {
		border-color: $hover;
		color: $hover;
	}
}

@mixin btn-pill-outline-fill($color: $off-white, $hover: $dark-grey, $radius: .25rem){
	@include btn-pill-outline($color, $hover, $radius);
	&:hover {
		color: $white;
		background-color: $hover;
	}
}

button {
	font-size: 1rem;
	border: none;
	color: $white;
	@include btn-pill-hover($bg: $primary-color);
}