@mixin pill($radius: .25em){
	padding: 1em;
	border-radius: $radius;	
}

@mixin btn-pill(){
	@include pill;
	background: $light-neutral;
}

@mixin btn-pill-hover(){
	@include pill;

	&:hover {
		background: $light-neutral;
	}
}

@mixin btn-pill-outline($color: $off-white, $hover: $dark-neutral, $radius: .25em){
	@include pill($radius);
	border: 1px solid $color;
	transition: all .3s;

	&:hover {
		border-color: $hover;
		color: $hover;
	}
}

@mixin btn-pill-outline-fill($color: $off-white, $hover: $dark-neutral, $radius: .25em){
	@include btn-pill-outline($color, $hover, $radius);
	&:hover {
		color: $white;
		background-color: $hover;
	}
}