@mixin pill($radius: .25em, $padding: 1em){
	padding: $padding;
	border-radius: $radius;	
	display: inline-block;
	width: initial;
}

@mixin btn-pill($background: $light-grey){
	@include pill;
	background: $background;
}

@mixin btn-pill-hover($bg:transparent, $hover:$light-grey){
	@include btn-pill($bg);
	@include transition;

	&:hover {
		color: white;
		background: $hover;
	}
}

@mixin btn-pill-outline($color: $off-white, $hover: $dark-grey, $radius: .25em){
	@include pill($radius);
	@include transition;
	border: 1px solid $color;
	transition: all .3s;

	&:hover {
		border-color: $hover;
		color: $hover;
	}
}

@mixin btn-pill-outline-fill($color: $off-white, $hover: $dark-grey, $radius: .25em){
	@include btn-pill-outline($color, $hover, $radius);
	&:hover {
		color: $white;
		background-color: $hover;
	}
}