/* Functions */
/* -------------------------------------- */

@function em($px, $context: $base-font-size){
	@return ($px / $context) + 0em;
}

/* Mixins */
/* -------------------------------------- */

@mixin text-tracked($tracking: $default-tracking) {
	text-transform: uppercase;
	letter-spacing: $tracking;
}

@mixin block($color: $light-accent, $width: 2em) {
	content: '';
	display: block;
	background: $color;
	width: $width;
}

@mixin block-separator($color: $light-accent, $width: 2em, $margin: 0.75em, $height: .125em){
	&:after{
		@include block($color, $width);
		height: $height;
		margin-top: $margin;		
	}
}

@mixin comma-list(){
	li {
		display: inline-block;

		&:after {
			content: ","
		}

		&:last-of-type:after {
			content: "";
		}

		& + li {
			margin-left: .25rem;
		}
	}
}

@mixin indent($indent){
	margin-left: $indent;
	margin-right: $indent;
}

@mixin outdent($indent){
	margin-left: (-1 * $indent);
	margin-right: (-1 * $indent);
}

@function modular-type( $level, $base: $base-font-size, $ratio: $modular-type-ratio ){
	$size: $base;

	@if ($level > 1) {
		@for $i from 1 to ($level - 1){
			$size: $size * $ratio;
		}
	}

	@return $size;
}

h1 { font-size: modular-type(6); }
h2 { font-size: modular-type(5); }
h3 { font-size: modular-type(4); }
h4 { font-size: modular-type(3); }
h5 { font-size: modular-type(2); }
h6 { font-size: modular-type(1); }

/* Base Styling */
/* -------------------------------------- */

html{
	font-size: $base-font-size;
	line-height: 1;
	margin-top: 0;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body{
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $font-sans;
	font-weight: normal;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	line-height: 1.125em;
	font-weight: bold;
	font-weight: 700;
}

strong {
	color: $dark-accent;
}

hr{
	border: none;
	background: $light-accent;
	height: 1px;
	margin: 6em 0;
}


/* Helpers */
/* -------------------------------------- */

.text-centered {
	text-align: center;
}

.hr{
	display: block;
	border-bottom: 1px solid $light-accent;
	margin: 6em 0;

	&::before{
		content: "";
	}
}

.tracked {
	@include text-tracked();
}
