$nav-collapse-bp: $desktop;

nav {
	text-align: center;

	ul {
		@include bp-min($nav-collapse-bp) {
			@include list-inline;
		}
	}

	ul li a {
		font-size: 1.125rem;
		text-decoration: none;
		padding: 1em;
	}
}

.navbar {
	text-align: left;
}

.navbar-left {
	float: left;
	width: 33.33%;		
}

.navbar-right {
	text-align: right;

	@include bp-min($nav-collapse-bp) {
		float: right;
		width: 66.66%;

		.navbar-center + & {
			width: 33.33%;
		}

		nav {
			text-align: right;
		}
	}
}

.navbar-center {
	@include bp-min($nav-collapse-bp) {
		text-align: center;
		width: 33.33%;
	}
}

.nav-toggle {
	@include bp-min($nav-collapse-bp) {
		display: none;
	}
}

.navbar-collapse {
	display: none;
	border-bottom: 2px solid $off-white;

	@include bp-min($nav-collapse-bp) {
		border-bottom: none;
		display: block;
	}

	&.open {
		display: block; 

		ul {
			margin-bottom: 0;
		}

		li {
			text-align: left;
			margin: 0;

			& + li {
				border-top: 1px solid $off-white;
			}
		}

		li a {
			padding: 1.5em 0;
			width: 100%;

			&:hover {
				background: none;
				color: inherit;
			}
		}
	}
}