.longform {

	aside,
	.longform-sidebar {
		width: $longform-sidebar-width;
		padding-right: 1em
	}

	.longform-sidebar {
		float: left;
	}

	.aside-left {
		position: absolute;
		left: -1 * $longform-aside-width;
		width: $longform-aside-width;
	}

	.longform-content {
		margin-left: $longform-sidebar-width;
		margin-right: $longform-sidebar-width;
		position: relative;
	}

	p,
	ul,
	ol,
	dl {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	blockquote {
		font-size: 1.75rem;
		line-height: 2.25rem;
		padding: 1.5em 0;
		border: 0;

		@include bp-min($medium-screen){
			text-align: center;
			margin: 0 -3em;
		}
	}

	figure {
		@include context-outdent( $longform-figure-outdent, $longform-content-width );
	}

	aside,
	aside p,
	figcaption {
		font-size: .85rem;
		line-height: 1.25rem;
		color: $aside-color;
		font-style: italic;
	}

	figcaption {
		padding: .5rem 0;
		border-bottom: 1px solid $off-white;
	}

}