/* Functions */
/* -------------------------------------- */

@function em($px, $context: $base-font-size){
	@return ($px / $context) + 0em;
}

/* Mixins */
/* -------------------------------------- */

@mixin text-tracked($tracking: $default-tracking) {
	text-transform: uppercase;
	letter-spacing: $tracking;
}

@mixin block($color: $block-color, $width: $block-width) {
	content: '';
	display: block;
	background: $color;
	width: $width;
}

@mixin block-separator($color: $block-color, $width: $block-width, $margin: $block-margin, $height: $block-height){
	&:after{
		@include block($color, $width);
		height: $height;
		margin-top: $margin;		
	}
}

@mixin comma-list(){
	li {
		display: inline-block;

		&:after {
			content: ","
		}

		&:last-of-type:after {
			content: "";
		}

		& + li {
			margin-left: .25rem;
		}
	}
}

@mixin indent($indent: $base-indent){
	margin-left: $indent;
	margin-right: $indent;
}

@mixin outdent($indent: $base-indent){
	margin-left: (-1 * $indent);
	margin-right: (-1 * $indent);
}

@function modular-type( $level, $base: $base-font-size, $ratio: $modular-type-ratio ){
	$size: $base;

	@if ($level > 1) {
		@for $i from 1 to ($level){
			$size: $size * $ratio;
		}
	}

	@return $size;
}

/* Base Styling */
/* -------------------------------------- */

html{
	font-size: $base-font-size;
	line-height: 1;
	margin-top: 0;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body{
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $body-font;
	font-weight: normal;
	font-weight: 400;
	color: $text-color;
}

h1,h2,h3,h4,h5,h6{
	line-height: 1.125em;
	font-weight: bold;
	font-weight: 700;
	font-family: $headline-font;
}

h1 {
	color: $headline-color;
}

h2,h3,h4,h5,h6 {
	color: $subheading-color;
}

h1 { font-size: modular-type(6); }
h2 { font-size: modular-type(5); }
h3 { font-size: modular-type(4); }
h4 { font-size: modular-type(3); }
h5 { font-size: modular-type(2); }
h6 { font-size: modular-type(1); }

h1,h2,h3,h4,h5,h6,
p,
ul,
ol,
dl,
blockquote,
hr {
	margin: $base-type-margin 0;
}

figure {
	margin: $base-block-margin 0;
}

hr{
	border: none;
	background: $headline-color;
	height: $base-hr-size;
	margin: $base-hr-margin 0;
}

blockquote {
	font-size: modular-type(2);
	padding: 1em 0 1em 1.5em;
	border-left: 2px solid $accent-color;
}

figcaption {
	font-size: .85rem;
	padding: 1em 0 0;
	color: $aside-color;
	font-style: italic;
}

strong {
	color: $headline-color;
}

a {
	color: $link-color;

	&:hover {
		color: $text-color;
	}
}



/* Helpers */
/* -------------------------------------- */

.text-centered {
	text-align: center;
}

.hr{
	display: block;
	border-bottom: 1px solid $headline-color;
	margin: 6em 0;

	&::before{
		content: "";
	}
}

.tracked {
	@include text-tracked();
}
